@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
  font: 17px Calibri;
}

.parentContainer {
  width: 500px;
  margin: 0 auto;
  margin-top: 100px;
}

h1 {
  font-size: xx-large;
  text-align: center;
  padding-bottom: 16px;
}

/* .mainContainer {
  position: relative;
  padding: 0;
  min-width: 250px;
  min-height: 250px;
  display: inline-block;
  margin: 0 auto;
} */

img {
  border: none;
  max-width: 100%;
  position:relative;
  z-index:-1;
  top: 25px;
  left: 25px;
}


.parentImage {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
  z-index: 5;
}
.image2 {
  position: absolute;
  top: 0px;
  left: 0px;
}

#textArea {
  display: block;
  padding: 10px 5px;
}

#theText {
  text-align: center;
  position: relative;
  bottom: 140px;
  left: 0x;
  z-index: 10;
  background: rgba(8, 8, 8, 0.1);
  color: #C8FEE6;
  padding: 5px;
  border: dashed 2px #ff7f27;
  font: 20px Montserrat;
}

canvas {
  max-width: 100%;
}
